pipeline/pl_ingest_scheduled.json
{
	"name": "pl_ingest_scheduled",
	"properties": {
		"activities": [
			{
				"name": "Execute Scheduled Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ingest_sqldb",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Scheduled Pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-05.uksouth.logic.azure.com:443/workflows/15eebc8162b84417b8bfac21aea73063/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=lK5Pxh2P9hCjmHT6qsPksIkQP-UiHnoVCrxWUvbtb5M",
					"body": {
						"value": "{\n    \"pipeline name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline run_id\" : \"@{pipeline().RunId}\",\n    \"error_message\" : \"@{activity('Execute Scheduled Pipeline').error.message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adfpro_ansh"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-19T05:43:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}